<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  

  <title>Daftar Barang</title>

 
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('barang')}"></nav>
  <div class="container mt-4">
    <div class="card">
      <div class="card-header d-flex justify-content-center">
        <h2 class="card-title">Daftar Barang</h2>
      </div>

      <div class="d-flex justify-content-center m-4">
        <a href="/barang/tambah" class="btn btn-primary w-20">+ Tambah Barang</a>
      </div>
    
      <div class="m-4">
        <table class="table">
          <thead class="bg-dark text-white text-center">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">SKU</th>
                  <th scope="col">Merk</th>
                  <th scope="col">Stok</th>
                  <th scope="col">Harga</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="barang, iterationStatus: ${listBarang}" th:style="${iterationStatus.even} ? 'font-weight:bold;'" class="text-center">
                  <td th:text="${iterationStatus.count}"></td>
                  <td>
                      <h6 th:text="${barang.sku}" class="card-title"></h6>
                  </td>
                  <td>
                      <h6 th:text="${barang.merk}"></h6>
                  </td>
                  <td class="align-middle">
                      <p th:text="${barang.totalStok}"></p>
                  </td>
                  <td>
                      <p th:text="'Rp'+${barang.hargaBarang}"></p>
                  </td>
                  <td>
                      <a type="button" class="btn btn-md btn-secondary" th:href="@{/barang/{id}(id=${barang.sku})}">Detail</a>
                  </td>
              </tr>
          </tbody>
      </table>

      </div>
     
    
    </div>
  </div>


</body>
</html>
